<div class="module csvloginsection" ng-controller="csvloginsectionController">

     <div class="reguisterAndLogin" name="csvLogin" ng-if="csvloginsection.useLogin">
        <div class="userName">
            <span>User Name or Email:</span>
            <input type="text" ng-name="value" ng-model="csvloginsection.csvLoginiName" >
        </div>
        <div class="pasword">
            <span>Password:</span>
            <input type="password" ng-name="value" ng-model="csvloginsection.csvLoginiPass" >
        </div>
        <input type="submit" name="Login" ng-click="csvloginsectionManage()">
    </div>

    <div id="main" ng-if="!csvloginsection.useLogin" >
        <div ng-include="csvloginsectionTemplate"></div>
    </div>
    
   
    
    
    <div class="holds-the-iframe" ng-show="isBussy"></div>
</div>
